<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="visit.ez.wyse.ezvisit" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityHome"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Entrega_Muestra"
            android:label="@string/title_activity_entrega__muestra" >
        </activity>
        <activity
            android:name=".Operativo_Medico"
            android:label="@string/title_activity_operativo__medico" >
        </activity>
        <activity
            android:name=".Consulta_Transaciones"
            android:label="@string/title_activity_consulta__transaciones" >
        </activity>
        <activity
            android:name=".Asignacion_Ruta"
            android:label="@string/title_activity_asignacion__ruta" >
        </activity>
        <activity
            android:name=".Presupuesto"
            android:label="@string/title_activity_presupuesto" >
        </activity>
        <activity
            android:name=".productos"
            android:label="@string/title_activity_productos" >
        </activity>
        <activity
            android:name=".Registro_Gastos"
            android:label="@string/title_activity_registro__gastos" >
        </activity>
        <activity
            android:name=".Carga_Datos"
            android:label="@string/title_activity_carga__datos" >
        </activity>
        <activity
            android:name=".Plan_Trabajo"
            android:label="@string/title_activity_plan__trabajo" >
        </activity>
        <activity
            android:name=".Registrar_Clientes"
            android:label="@string/title_activity_registrar__clientes" >
        </activity>
        <activity
            android:name=".Registrar_Visita"
            android:label="@string/title_activity_registrar__visita" >
        </activity>
        <activity
            android:name=".Seleccion_Cliente"
            android:label="@string/title_activity_seleccion__cliente" >
        </activity>
        <activity
            android:name=".AnadirDir"
            android:label="@string/title_activity_anadir_dir" >
        </activity>
        <activity
            android:name=".AnadirContacto"
            android:label="@string/title_activity_anadir_contacto" >
        </activity>
        <activity
            android:name=".recibir_muestras"
            android:label="@string/title_activity_recibir_muestras" >
        </activity>
    </application>

</manifest>
